<h2 class="text-4xl">Informacion personal</h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="grid grid-cols-2 grid-rows-2 w-fit">
    <div class="field my-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", disabled: true, class: "rounded-lg py-3 w-96 border-gray-200 text-gray-500 cursor-not-allowed" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field my-4">
      <%= f.label :cambiar_contraseña %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "rounded-lg py-3 w-96 border-gray-200 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caracteres mínimo</em>
      <% end %>
    </div>
    <div class="field my-4">
      <%= f.label :confirmar_nueva_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-lg py-3 w-96 border-gray-200 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400" %>
    </div>

    <div class="field my-4">
      <%= f.label :escribe_tu_contraseña_actual_para_guardar_los_cambios %><br />
      <%= f.password_field :current_password, class: "rounded-lg py-3 w-96 border-gray-200 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400" %>
    </div>
  </div>

  <div class="actions my-4">
    <%= f.submit "Actualizar", class: "bg-green-400 w-96 py-3 px-4 text-center text-white rounded-xl border-2 border-green-400 cursor-pointer" %>
  </div>
<% end %>
<br>
<hr>
<br>
<h3 class="text-xl">Eliminar cuenta</h3>
<br>
<div class="flex gap-2">
  <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "rounded-lg py-3 w-96 border-2 border-red-500 text-red-500" %>
  <br>
  <%= link_to "Volver", :back, class: "bg-green-400 w-96 py-3 px-4 text-center text-white rounded-xl border-2 border-green-400 cursor-pointer" %>
</div>
<br>