<div data-controller="dialog" data-action="click->dialog#backdropClose" class="relative">
  <dialog data-dialog-target="dialog" class="p-4 rounded-lg w-96">
    <%= form_with(model: @links, url: links_path, method: :post, class: "contents ") do |form| %>
      <div class="">
        <div class="my-5">
          <%= form.label :attribute, "Nombre" %>
          <%= form.text_field :original_url, value: params[:original_url], class: "rounded-lg py-3 w-full border-gray-200 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400 mt-2", placeholder: "Google" %>
        </div>
        <div class="my-5">
          <%= form.label :attribute, "URL original" %>
          <%= form.text_field :original_url, value: params[:original_url], class: "rounded-lg py-3 w-full border-gray-200 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400 mt-2", placeholder: "https://google.com" %>
        </div>
        <div class="inline"> <%= form.submit "Acortar link", class: "rounded-lg py-3 px-5 bg-green-400 text-white inline-block font-medium cursor-pointer" %>
        </div>
      </div>
      <button type="button" data-action="dialog#close" autofocus class="absolute top-4 right-4">
        <%= image_tag("icons/close.svg", class: "w-6 h-6 p-1 hover:bg-gray-100 rounded-full ") %>
      </button>
    <%end%>
  </dialog>
  <button type="button" data-action="dialog#open" class="text-white bg-green-400 hover:bg-green-500 font-medium rounded-lg text-lg px-5 py-2.5">Nuevo link</button>
</div>
