<div id="<%= dom_id link %>" class="flex flex-col justify-between rounded-lg shadow-[0px_0px_5px_2px_#f3f4f6] border-gray-500" data-controller="clipboard" data-clipboard-success-content-value="Copiado!">
  <div class="p-4"> 
    <p class="mb-3">
      <strong class="block font-medium mb-1">Link:</strong>
      <p class="truncate"><%= link.original_url %></p>
    </p>
    <p class="mt-3">
      <strong class="block font-medium mb-1">Link acortado:</strong>
      <p data-clipboard-target="source"><%= link.shortened_url || "No hay link acortado" %></p>
    </p>
  </div>

  <div class="flex justify-between border-t-[1px] border-gray-100 w-full ">
    <%= link_to link_path(id: link.id), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Estas seguro?"}, class: "flex items-center justify-center w-[50%] py-4 text-center border-r-[1px] border-gray-100 gap-1" do %>
      <%= image_tag  "icons/trash.svg", width: 16, height: 16%> Eliminar
    <%end%>
    <button type="button" data-action="clipboard#copy" data-clipboard-target="button" class="flex items-center justify-center gap-1 w-[50%] py-4 text-center">
      <%= image_tag "icons/clipboard.svg", width: 16, height: 16 %>
      Copiar
    </button>
  
  </div>
</div>
