<div class="flex flex-col items-center justify-between w-full min-h-screen bg-eb-gray pt-12 px-8 pb-6">
  <div class="rounded-2xl border-[1px] bg-white border-gray-200 p-9 min-w-[480px]">
    <h2 class="text-3xl mb-8 font-semibold">Iniciar sesion</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autocomplete: "email", class: "rounded-lg py-3 w-full border-gray-200 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400", placeholder: "Email" %>
      </div>
      <br />
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class: "rounded-lg py-3 w-full border-gray-200 focus:border-green-400 focus:outline-none focus:ring-1 focus:ring-green-400", placeholder: "Contrasena" %>
      </div>
      <br />
      <% if devise_mapping.rememberable? %>
        <div class="field flex items-center gap-2">
          <%= f.check_box :remember_me, class: "rounded-[4px]" %>
          <%= f.label :recordarme %>
        </div>
      <% end %>
      <br />
      <%= f.submit "Iniciar sesion", class: "bg-green-400 w-full py-3 px-4 text-center text-white rounded-xl border-2 border-green-400 cursor-pointer" %>
    <% end %>
    <div class="flex flex-col justify-between items-center w-full">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>
